/*************************************************/
/**********************NAVBAR*********************/
/*************************************************/

nav
{
	font-family: 'VT323';
	font-size: 2em;
	background-color: #FF7761 !important;
}

.navbar-nav a
{
	color: white !important;
}

.navbar-nav a:hover
{
	color: #274555 !important;
	text-decoration: underline;
}

.navbar-nav a
{
	margin-right: 25%;
	margin-left: 25%;
}

/*************************************************/
/**********************CONTACT********************/
/*************************************************/

button{
    font-family: 'VT323';
    color: aliceblue;
    background-color: #274555;
    border: solid, 2px, #274555;
}


/*************************************************/
/**********************FOOTER*********************/
/*************************************************/

@media screen and (min-width: 992px){
    footer {
    display: flex;
    justify-content: space-around;
    align-items: center;


}
  footer ul:first-child li:first-child, footer ul:first-child li:nth-child(2) {
    margin-bottom: 30%;

}

    footer ul:last-child li:first-child {
        margin-top: 15px;
    }
}

footer {
    background-color: #FF7761;
    text-align: center;
		font-family: 'VT323';
		font-size: 1.8rem;
}

footer h3{
	font-size: 2.5rem;
}

footer ul {
    list-style: none;
    padding-left: 0;
}


footer ul li a, footer h3 {
    color: aliceblue;
    font-weight: bold;
}

footer img {
    margin-bottom: 15px;
    margin-top: 15px;
}

footer ul:first-child {
    margin-bottom: 8px;
}

footer ul li a:hover {
    color: #275555;
}
