@media screen and (min-width: 992px){
    footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
        
}
  footer ul:first-child li:first-child, footer ul:first-child li:nth-child(2) {
    margin-bottom: 30%;
    
}  
    
    footer ul:last-child li:first-child {
        margin-top: 15px;
    }
}

footer {
    background-color: #FF7761;
    text-align: center;
    
}

footer ul {
    list-style: none;
    padding-left: 0;
}


footer ul li a, footer h3 {
    color: aliceblue;
    font-weight: bold;
}

footer img {
    margin-bottom: 15px;
    margin-top: 15px;
}

footer ul:first-child {
    margin-bottom: 8px;
}

footer ul li a:hover {
    color: #275555;
}